/* COMMON */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgrey;
}

/* HEADER */

.logo-section{
    background-color: white;
    height: 100px;
}

.logo{
    height: 70px;
    vertical-align: middle;
    line-height: 100px;
    padding-left: 25px;
}

.logo-title{
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    font-size: 50px;
}

/* MAIN */

.main-section{
    margin: auto;
    margin-top: 100px;
    max-width: 1200px;
    height: 500px;    /*JUST TO SHOW MAIN */
    background-color: white;
    border-radius: 10px; 
}

.section-margin{
    padding: 20px 50px;
}

hr{
    background-color: lightgrey;
    height: 3px;
    border: none;
    margin-bottom: 20px;
}

.text-format{
    font-weight: bold;
    font-size: 20px;
}

/* BUTTON SECTION */

.button-1{
    background-color: #20A9E5;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.button-text-1{
    color: white;
    padding: 15px;  
}

.button-2{
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border-color: lightgrey;
}

.button-text-2{
    color: lightgrey;
    padding: 15px;
}

/* LIST SECTION */

li{
    list-style: none;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 3px;
    line-height: 15px;
}

.check-mark-circle{
    vertical-align: middle;
    color: green;
    border: 1px solid green;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
}

.cross-mark-circle{
    vertical-align: middle;
    color: red;
    border: 1px solid red;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
}

.editorial{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #20A9E5;
    border-radius: 8px;
}

.Q1-goals{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color:violet;
    border-radius: 8px;
}

.recruiting{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 20px;
    background-color:green;
    border-radius: 8px;
}

.mobile{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: orange;
    border-radius: 8px;
}

.list-text{
    color: white;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
}